<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head') %>
<body>
    <div class="page-container">
        <%- include('../partials/header') %>
        
        <div class="content-wrapper">
            <!-- Barre de navigation latérale -->
            <%- include('../partials/sidebar') %>
            
            <!-- Contenu principal à droite -->
            <div class="main-content">
                <main>

                            
                            <!-- Colonne de droite : Widget Facebook -->
                            <div class="facebook-column">
                                
                                <div class="facebook-widget">
                                    <div class="fb-page" 
                                        data-href="https://www.facebook.com/cmagym93/?locale=fr_FR"
                                        data-tabs="timeline"
                                        data-width=""
                                        data-height="700"
                                        data-small-header="false"
                                        data-adapt-container-width="true"
                                        data-hide-cover="false"
                                        data-show-facepile="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script async defer crossorigin="anonymous" 
                                src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v15.0" 
                                nonce="xyz">
                        </script>
                    </div>
                </main>
            </div>
        </div>
        
        <%- include('../partials/footer') %>
    </div>
</body>
</html>