<header>
    <a href="/" class="logo-link">
        <img src="/image/logo.png" alt="Logo CMA GYM">
    </a>
    <div class="container">
        <a href="/" class="title-link">
            <h1>CMA GYM</h1>
        </a>
        <p class="header-subtitle">La gymnastique, notre passion, votre progression.</p>
        <a href="/login" class="login-icon" title="Connexion">
            <i class="fas fa-user-circle"></i>
        </a>
    </div>
</header>
<style>

</style>
