<header>
    <a href="/" class="logo-link">
        <img src="/image/logo.png" alt="Logo CMA GYM">
    </a>
    <div class="container">
        <a href="/" class="title-link">
            <h1>CMA GYM</h1>
        </a>
    </div>
</header>